* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #d0d0d0; /* Light gray for text */
  }
 
  
  .container {
    height: 490px;
    width: 400px;
    background: #282828; /* Dark gray background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
  }
  
  .container h1 {

    color: #ffffff; /* White for heading */
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .container h1 span {
    color: #4f9af0; /* Accent color remains the same */
    font-size: 45;
  }
  
  textarea {
    width: 364px;
    height: 220px;
    background: #303030; /* Darker gray for textarea */
    color: #ffffff; /* Light gray for text */
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 20px;
    resize: none;
    margin-bottom: 30px;
  }
  
  textarea::placeholder {
    font-size: 16px;
    color: #808080; /* Lighter gray for placeholder */
  }

label {
    cursor: default;
    font-size: 13.5px;
    margin-left: 2px;
}
  .row {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 1px;
  }
  
  button {
    background: #303030; /* Darker gray for button */
    color: #4f9af0; /* White for button text */
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 10px 30px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 5px;
    height: 40px;
  }
  
  button:hover {
    background: #282828; /* Darker gray on hover */
  }
  
  button img {
    width: 16px;
    margin-right: 10px;
  }
  
  select {
    flex: 1;
    background: #303030; /* Darker gray for select */
    color: #4f9af0; /* Light gray for text */
    height: 45px;
    font-size: 11.5px;
    font-weight: 500;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 35px;
    cursor: pointer;
    appearance: none;
   
  }
  
  .rate-control {
    display: flex;
    align-items: center;
    margin-left: -6px;
    color: #d0d0d0; /* Light gray for rate control text */
    gap: 2px;
  }
  
  #rate {
    width: 75px;
    cursor: pointer;
  }
  
  #rate-value {
    font-size: 12px;
  }
  